﻿@model DMS.Models.com_info

@{
    ViewBag.Title = "CompanyInfo";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <p>Company Information &nbsp;&nbsp;&nbsp;&nbsp;<b>@ViewBag.Message</b></p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Back to List", "GetCompanyList")</p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-success">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.com_code, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.com_code)
                                @Html.ValidationMessageFor(model => model.com_code)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.com_name, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.com_name, new { @class="form-control", placeholder="Company Name"})
                                @Html.ValidationMessageFor(model => model.com_name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.street_add, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.street_add, new { @class = "form-control", placeholder = "Company Address" })
                                @Html.ValidationMessageFor(model => model.street_add)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", placeholder = "Company Email" })
                                @Html.ValidationMessageFor(model => model.email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.phone)
                                @Html.ValidationMessageFor(model => model.phone)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.mobile, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.mobile)
                                @Html.ValidationMessageFor(model => model.mobile)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.currency_sym, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.currency_sym)
                                @Html.ValidationMessageFor(model => model.currency_sym)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.slogan_text, new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.slogan_text, new { @class = "form-control", placeholder = "Company Description" })
                                @Html.ValidationMessageFor(model => model.slogan_text)
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.date_format, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.date_format)
                                @Html.ValidationMessageFor(model => model.date_format)
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.logo, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.logo)
                                @Html.ValidationMessageFor(model => model.logo)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

