﻿@model IEnumerable<DMS.Models.com_info>
@{
    ViewBag.Title = "GetCompanyList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-lg-6">
        <p>Company Information </p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Add New", "CompanyInfo")</p>
    </div>
</div>

<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped" id="example2">
            <thead>
                <tr>
                    <th>Company Code</th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.com_code)</td>
                    <td>@Html.DisplayFor(modelItem => item.com_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                    <td>@Html.DisplayFor(modelItem => item.phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.mobile)</td>
                    <td>@Html.DisplayFor(modelItem => item.street_add)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit")|
                        @Html.ActionLink("Details", "Edit")|
                        @Html.ActionLink("Delete", "Edit")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>