﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTestTable</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="..//assets/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="..//assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="..//assets/plugins/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../assets/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="..//assets/css/AdminLTE.min.css">
    <link rel="stylesheet" href="..//assets/css/skins/_all-skins.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>

                    </tr>
                </thead>
            </table>
            </div>
        </div>
            
</body>
</html>

@section scripts{
<script src="~/assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#example').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "ajax": {
                    "url": "/test/GetTestTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" , "autoWidth": true},
                    { "data": "department", "autoWidth": true }
                ]
            })
        });
    </script>
}