﻿@model IEnumerable<DMS.Models.test_tbl>

@{
    ViewBag.Title = "Lists";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    
}

<h2>Lists</h2>

<p>
    @Html.ActionLink("Create New", "Create")||
    @Html.ActionLink("Download Report", "ShowTestReports", "Report", new { target = "_blank" })

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
