﻿
@{
    ViewBag.Title = "ShowTestReport";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div>
    @*<a href="@Url.Action("ShowTestReport", new { target = "_blank" })">Report</a>*@
@Html.ActionLink("New report", "ShowTestReports", "Report", null, new { target = "_blank" });

    <script>

    </script>

</div>
<h2>ShowTestReport</h2>

