﻿@model DMS.Models.codes_type

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <p>Category</p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Category List", "Getcategory")</p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="box-body">
                        <div class="form-horizontal">
                            <label>@ViewBag.Mesage</label>
                            @Html.ValidationSummary(true)


                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.type, new { @class = "control-label col-md-2" })*@
                                    @Html.Label("Category Type ",new { @class = "control-label col-md-2" })
                                    @*<label for="type" class="control-label col-md-2">Name</label>*@
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.type, new { @class = "form-control", placeholder="Category Type Here"})
                                        @Html.ValidationMessageFor(model => model.type)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-success btn-xs" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

}


