﻿
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>DeleteUser</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "GetUserInfo")
    </div>
}