﻿@model IEnumerable<DMS.Models.codes_type>

@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <p>Category Info</p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Add New", "Category")</p>
    </div>
</div>
<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-striped" id="example2">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.type)*@
                    @Html.Label("Category Type")
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.type }, new { @class="btn btn-info btn-xs"}) 
                        @Html.ActionLink("Details", "Details", new { id = item.type }, new { @class = "btn btn-info btn-xs" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.type }, new { @class = "btn btn-info btn-xs" })
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
        
