﻿@model IEnumerable<DMS.Models.code>

@{
    ViewBag.Title = "getSubcategory";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <p>SubCategory</p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Add New", "SubCategory")</p>
        <div><a href="@Url.Action("ShowTestList")"> Report PDF </a></div> 
    </div>
</div>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Data Table With SubCategory List</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped" id="subCategory">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.codes_type.type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.code1)
                </th>              
                <th>
                    @Html.DisplayNameFor(model => model.lab_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.test_price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
              
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codes_type.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.code1)
                    </td>                  
                    <td>
                        @Html.DisplayFor(modelItem => item.lab_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.test_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                  
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.code1 }, new { @class = "btn btn-info btn-xs" }) 
                        @Html.ActionLink("Details", "Details", new { id = item.code1 }, new { @class = "btn btn-info btn-xs" }) 
                        @Html.ActionLink("Delete", "DeleteSubCategory", new { id = item.code1 }, new { @class = "btn btn-info btn-xs" })
                    </td>
                </tr>
            }

        </table>
    </div>
    </div>

