﻿@model IEnumerable<DMS.Models.user_info>

@{
    ViewBag.Title = "GetUserInfo";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <p>User Information</p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Add New", "registered")</p>
    </div>
</div>
<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-striped" id="example2">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.full_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.short_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user_type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.com_code)
                </th>

                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.full_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.short_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.com_code)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.user_id }, new { @Class="btn btn-info btn-xs"}) 
                        @Html.ActionLink("Details", "Details", new { id = item.user_id }, new { @Class = "btn btn-info btn-xs" }) 
                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.user_id }, new { @Class = "btn btn-info btn-xs" })
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>

