﻿@model DMS.Models.user_info

@{
    ViewBag.Title = "registered";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-lg-6">
        <p>Registration</p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Back to List", "GetUserInfo")</p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-success">
        <div class="box-header with-border">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-horizontal">
                            <label>@ViewBag.Message</label>
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.com_code, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">

                                    @Html.DropDownListFor(model => model.com_code, (SelectList)ViewBag.List, "-- Select Company--")
                                    @Html.ValidationMessageFor(model => model.com_code)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.user_id, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.user_id)
                                    @Html.ValidationMessageFor(model => model.user_id)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.full_name, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.full_name)
                                    @Html.ValidationMessageFor(model => model.full_name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.short_name, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.short_name)
                                    @Html.ValidationMessageFor(model => model.short_name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.address)
                                    @Html.ValidationMessageFor(model => model.address)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.phone)
                                    @Html.ValidationMessageFor(model => model.phone)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.mobile, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.mobile)
                                    @Html.ValidationMessageFor(model => model.mobile)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email)
                                    @Html.ValidationMessageFor(model => model.email)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.password)
                                    @Html.ValidationMessageFor(model => model.password)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.confirm_pass, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.confirm_pass)
                                    @Html.ValidationMessageFor(model => model.confirm_pass)
                                </div>
                            </div>

                            <div class="form-group">
                                @{
                                    List<SelectListItem> listUserType = new List<SelectListItem>();
                                    listUserType.Add(new SelectListItem { Text = "Administrator", Value = "Administrator" });
                                    listUserType.Add(new SelectListItem { Text = "Operator", Value = "Operator" });
                                }

                                @Html.LabelFor(model => model.user_type, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.user_type, listUserType, "--Select--")
                                    @Html.ValidationMessageFor(model => model.user_type)
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.status)
                                        @Html.ValidationMessageFor(model => model.status)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.entry_date, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.entry_date)
                                        @Html.ValidationMessageFor(model => model.entry_date)
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.emp_id, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.emp_id)
                                        @Html.ValidationMessageFor(model => model.emp_id)
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.com_code, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.com_code)
                                        @Html.ValidationMessageFor(model => model.com_code)
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.user_rule, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.user_rule)
                                        @Html.ValidationMessageFor(model => model.user_rule)
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.branch_code, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.branch_code)
                                        @Html.ValidationMessageFor(model => model.branch_code)
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-success btn-xs" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

