﻿@model DMS.Models.code
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <p>SubCategory</p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("SubCategory List", "getSubCategory")</p>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-success">
        <div class="box-header with-border">
            <div class="box-body">
                <div class="form-horizontal">
                    <label>@ViewBag.Message</label>
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.type, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">

                            @Html.DropDownListFor(model => model.type, (SelectList)ViewBag.List,"--Select Category Type--")
                          @*@Html.DropDownList("ddlType", Model.CodesTypeList)*@
                       
                            @*@Html.ValidationMessageFor(model => model.CodesTypeList)*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.code1, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.code1)
                            @Html.ValidationMessageFor(model => model.code1)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.test_price, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.test_price)
                            @Html.ValidationMessageFor(model => model.test_price)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.lab_id, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.lab_id)
                            @Html.ValidationMessageFor(model => model.lab_id)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.description)
                            @Html.ValidationMessageFor(model => model.description)
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(model => model.trans_type, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.trans_type)
                                @Html.ValidationMessageFor(model => model.trans_type)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.entered_by, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.entered_by)
                                @Html.ValidationMessageFor(model => model.entered_by)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.last_update_by, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.last_update_by)
                                @Html.ValidationMessageFor(model => model.last_update_by)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.add_time, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.add_time)
                                @Html.ValidationMessageFor(model => model.add_time)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.update_time, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.update_time)
                                @Html.ValidationMessageFor(model => model.update_time)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.status)
                                @Html.ValidationMessageFor(model => model.status)
                            </div>
                        </div>
                    *@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success btn-xs" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
