﻿@model DMS.Models.CodeModel
@{
    ViewBag.Title = "checkBoxList";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<h2>checkBoxList</h2>

<div class="form-group">
    @for (int i = 0; i < Model.codes.Count(); i++)
    {
        @Html.CheckBoxFor(x => x.codes[i].IsCheked)
        @Model.codes[i].code1
        @Html.HiddenFor(x=>x.codes[i].code1);

        //If you need to hide any values and get them in your post
        @*@Html.HiddenFor(x => x.Equipments[i].Id)
        @Html.HiddenFor(x => x.Equipments[i].Method)*@
    }
</div>