﻿@{
    ViewBag.Title = "CustomInvoice";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">PATIENTS INFORMATION</h3><label>@ViewBag.Message</label>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Invoice", new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBox("tt")
       

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>