﻿@model DMS.Models.doctors_info

@{
    ViewBag.Title = "doctorInfo";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <p>Doctor Information &nbsp;&nbsp;&nbsp;&nbsp;<b>@ViewBag.Message</b></p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Back To List", "GetDoctorList")</p>
    </div>
</div>
@using (Html.BeginForm())

{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                @*<div class="box-header with-border">
                    <label></label>
                    </div>*@
                    <div class="box-body">
                        
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(m =>m.bmdc_code, new { @class="control-label col-md-2"})
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m =>m.bmdc_code, new { @class="form-control", placeholder="BMDC Code No"})
                                    @Html.ValidationMessageFor(m => m.bmdc_code)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.doctor_name, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.doctor_name, new { @class = "form-control", placeholder = "Doctor Name" })
                                    @Html.ValidationMessageFor(m => m.doctor_name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.father_name, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.father_name, new { @class = "form-control", placeholder = "Father Name" })
                                    @Html.ValidationMessageFor(m => m.father_name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.mother_name, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mother_name, new { @class = "form-control", placeholder = "Mother Name" })
                                    @Html.ValidationMessageFor(m => m.mother_name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.dateof_birth, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.dateof_birth, new { @class = "form-control", type="Date" })
                                    @Html.ValidationMessageFor(m => m.dateof_birth)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.designation, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.designation, new { @class = "form-control", placeholder = "Designation" })
                                    @Html.ValidationMessageFor(m => m.designation)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.education, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.education, new { @class = "form-control", placeholder = "Education" })
                                    @Html.ValidationMessageFor(m => m.education)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.email, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "Email", type="Email"})
                                    @Html.ValidationMessageFor(m => m.email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.mobile_no, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mobile_no, new { @class = "form-control", placeholder = "Mobile" })
                                    @Html.ValidationMessageFor(m => m.mobile_no)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.address, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextAreaFor(m => m.address, new { @class = "form-control", placeholder = "Contact Address " })
                                    @Html.ValidationMessageFor(m => m.address)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.join_date, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.join_date, new { @class = "form-control", type = "Date" })
                                    @Html.ValidationMessageFor(m => m.join_date)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
}


