﻿@model IEnumerable<DMS.Models.doctors_info>
@{
    ViewBag.Title = "GetDoctorList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <p>Doctors Information List</p>
    </div>
    <div class="col-lg-6">
        <p style="float:right">@Html.ActionLink("Add New", "doctorInfo")</p>
    </div>
</div>

<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped" id="example2">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Designation</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Join Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.doctor_name)</td>
                    <td>@Html.DisplayFor(modelItem =>item.designation)</td>
                    <td>@Html.DisplayFor(modelItem=>item.email)</td>
                    <td>@Html.DisplayFor(modelItem=>item.mobile_no)</td>
                    <td>@Html.DisplayFor(modelItem=>item.address)</td>
                    <td>@Html.DisplayFor(modelItem=>item.join_date)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit")|
                        @Html.ActionLink("Details", "Edit")|
                        @Html.ActionLink("Delete", "Edit")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>