﻿@model IEnumerable<DMS.Models.customer_info>
@{
    ViewBag.Title = "GetInvocieid";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>GetInvocieid</h2>
<table>
 
         <tr>
        <td></td>
    </tr>
   
  
        
  
   
</table>
