﻿@model DMS.Models.CodeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

@using(Html.BeginForm())
{
    <table>
        @for (int i = 0; i < Model.codes.Count(); i++ )
        {
           <tr>
               <td>
                   @Html.CheckBoxFor(model => model.codes[i].IsCheked)
                   <label>@Model.codes[i].code1</label>
               </td>
           </tr>
           
        }
    </table>

}

