﻿@model DMS.Models.customer_info

@{
    ViewBag.Title = "InsertCustomer";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>InsertCustomer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>customer_info</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.com_code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.com_code)
                @Html.ValidationMessageFor(model => model.com_code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.invoice_no, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.invoice_no)
                @Html.ValidationMessageFor(model => model.invoice_no)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customer_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_name)
                @Html.ValidationMessageFor(model => model.customer_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.age)
                @Html.ValidationMessageFor(model => model.age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sex, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sex)
                @Html.ValidationMessageFor(model => model.sex)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mobile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mobile)
                @Html.ValidationMessageFor(model => model.mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.referred_by, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.referred_by)
                @Html.ValidationMessageFor(model => model.referred_by)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.delivery_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.delivery_date)
                @Html.ValidationMessageFor(model => model.delivery_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deliver_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deliver_time)
                @Html.ValidationMessageFor(model => model.deliver_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.add_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.add_date)
                @Html.ValidationMessageFor(model => model.add_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.test_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.test_name)
                @Html.ValidationMessageFor(model => model.test_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity)
                @Html.ValidationMessageFor(model => model.quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rate)
                @Html.ValidationMessageFor(model => model.rate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total_amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total_amount)
                @Html.ValidationMessageFor(model => model.total_amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vat_charge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vat_charge)
                @Html.ValidationMessageFor(model => model.vat_charge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.discount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.discount)
                @Html.ValidationMessageFor(model => model.discount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.grand_total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.grand_total)
                @Html.ValidationMessageFor(model => model.grand_total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.paid_amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.paid_amount)
                @Html.ValidationMessageFor(model => model.paid_amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.due_amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.due_amount)
                @Html.ValidationMessageFor(model => model.due_amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.added_by, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.added_by)
                @Html.ValidationMessageFor(model => model.added_by)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
