﻿@model DMS.Models.customer_info

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn1").click(function () {
            $(".tb").append("<tr><td>Appended item</td><td>1</td><td>100</td ><td>100</td></tr>");
        });
        $("#btn2").click(function () {
            $("tbody").remove("<tr><td>Appended item<td></tr>");
        });
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">PATIENTS INFORMATION</h3><label>@ViewBag.Message</label>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(model => model.customer_name, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.customer_name)
                                    @Html.ValidationMessageFor(model => model.customer_name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.age, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.age)
                                    @Html.ValidationMessageFor(model => model.age)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.sex, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.sex)
                                    @Html.ValidationMessageFor(model => model.sex)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.mobile, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.mobile)
                                    @Html.ValidationMessageFor(model => model.mobile)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.invoice_no, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.invoice_no, new { })
                                    @Html.ValidationMessageFor(model => model.invoice_no)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.referred_by, new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.referred_by, new SelectList(Model.doctors, "doctor_name", "doctor_name"), "--Select Reference--")
                                        @Html.ValidationMessageFor(model => model.referred_by)
                                    </div>
                                </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.description, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.description)
                                    @Html.ValidationMessageFor(model => model.description)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.delivery_date, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.delivery_date, new { type = "Date" })
                                    @Html.ValidationMessageFor(model => model.delivery_date)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.deliver_time, new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.deliver_time)
                                    @Html.ValidationMessageFor(model => model.deliver_time)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                        <hr />
                        <table class="table table-bordered table-striped" id="subCategory">
                            <thead>
                                <tr>
                                    <th>Test Item</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Total Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="tb">

                                @*<tr>
                                            <td>@ViewBag.testname</td>
                                            <td>

                                        </td>
                                        <td>@ViewBag.price</td>
                                            <td></td>
                                            <td></td>
                                    </tr>*@
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- DIRECT CHAT -->
            <div class="box box-success direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Select Test Item </h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3" class="badge bg-green">3</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">

                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">

                                    @for (int i = 0; i < Model.codes.Count(); i++)
                                    {
                                        <div class="col-md-8">

                                            @Html.CheckBoxFor(model => model.codes[i].IsCheked, new { @class = "btn1" })
                                            <label>@Model.codes[i].code1</label>
                                            @Html.HiddenFor(model => model.codes[i].code1)

                                        </div>

                                    }


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-flat">Send</button>
                        </span>
                    </div>

                </div>
                <!-- /.box-footer-->
            </div>
            <!--/.direct-chat -->
        </div>

    </div>

}
